@model IEnumerable<SensoreApp.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>
<h4>All Reports Are Available For Others Reference</h4>

<a asp-action="Create"
   class="btn text-white mb-4"
   style="background:#2c2c2c; border-radius:8px; padding:10px 20px;">
    Report a Problem
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reportInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.staffID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.staffResponse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.reportInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staffID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staffResponse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" style="color:black">Add Staff Response</a> |
                <a asp-action="Details" asp-route-id="@item.ID" style="color:black">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" style="color:black">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
